a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0px;
}

li {
    list-style: none;
    display: inline-block;
    width: 100px;
}

.header {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.div-wrap {
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    flex-wrap: wrap;
}

.div-wrap .div-container {
    display: inline-block;
    width: 18rem;
    margin: 10px auto;
}
