<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <script src="/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="stylesheet" href="/css/admin/register.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">도서 대출 서비스</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form class="d-flex" role="search" action="/search" method="post">
                <input name="bookName" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">search</button>
            </form>
        </div>
    </div>
</nav>

<div>
    <ul class="header">
        <li><a href="/join">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
        <li><a href="/borrow/mine">내 대여</a></li>
        <li><a href="/book/admin">도서관리</a></li>
    </ul>
</div>

<div class="register-wrap">
    <form action="/book/admin/register" method="post" enctype="multipart/form-data" th:object="${register}">
        <div class="label-wrap">
            <label>이미지</label>
        </div>
        <div class="file-wrap">
            <input type="file" id="input-image" name="image" class="btn btn-dark">
            <img id="preview-image" src="" style="width: 200px; height: 200px; display: none; margin: 0 auto;">
        </div>

        <div class="label-wrap">
            <label>책이름</label>
        </div>
        <input type="text" name="bookName">
        <div class="field-error">
            <label th:errors="*{bookName}"></label>
        </div>

        <div class="label-wrap">
            <label>출판사</label>
        </div>
        <input type="text" name="publisher">
        <div class="field-error">
            <label th:errors="*{publisher}"></label>
        </div>

        <div class="label-wrap">
            <label>ISBN</label>
        </div>
        <input type="text" name="ISBN">
        <div class="field-error">
            <label th:errors="*{ISBN}"></label>
        </div>

        <div class="label-wrap">
            <label>저자</label>
        </div>
        <input type="text" name="author">
        <div class="field-error">
            <label th:errors="*{author}"></label>
        </div>

        <div class="label-wrap">
            <label>재고</label>
        </div>
        <input type="number" name="stock" value="0">

        <div class="submit-btn">
            <input type="submit" value="도서 등록" class="btn btn-dark">
        </div>
    </form>
</div>
</body>
<!-- 이미지 미리보기 -->
<script type="text/javascript">
    function readImage(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = e => {
                const previewImage = document.getElementById("preview-image");
                previewImage.src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    const inputImage = document.getElementById("input-image");
    inputImage.addEventListener("change", e => {
        document.getElementById("preview-image").style.display = 'block';
        readImage(e.target);
    })
</script>
</html>