.login-wrap {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 50px;
    text-align: center;
    padding-top: 200px;
}

.label-wrap {
    display: inline-block;
    width: 100px;
}

.field-error {
    color: red;
    height: 50px;
}